
body {
    overflow: hidden;
}

.container {
    position: relative;
    /*border: thick solid black;*/
    width: 100%;
    height: 100%;
}

.gallery {
    position: absolute;
    aspect-ratio: 1;
    width: MIN(80vw, 80vh);
    height: MIN(80vw, 80vh);
    left: CALC(50% - MIN(40vw, 40vh));
    top: CALC(50% - MIN(40vw, 40vh));
}

.panel {
    position: absolute;
    width: MIN(80vh, 80vw);
    height: MIN(80vh, 80vw);
    transition: top .25s, left .25s, opacity .25s;
    -moz-transition: top .25s, left .25s, opacity .25s;
    -webkit-transition:top .25s, left .25s, opacity .25s;
    -o-transition: top .25s, left .25s, opacity .25s;
    text-align: center;
}

.panelContents img {
    pointer-events: none;
}
.panel button {
    display: inline-block;
    width: 60px;
    height: 2em;
    text-align: center;
}


.panelContents {
    position: relative;
    /*width: 100%;*/
    /*height: 100%;*/
    width: MIN(80vw, 80vh);
    height: MIN(80vw, 80vh);
    border: thin solid black;
    border-radius: 6px;
    box-shadow: 4px 4px #4a5568;
}

.panelContents button {
    position: absolute;
}

.panelContents button.up {
    top: 0;
    /*rotate: 90deg;*/
}

.panelContents button.down {
    bottom: 0;
    /*rotate: 90deg;*/
}

.panelContents button.left {
    top: 45%;
    left: 0;
    rotate: 90deg;
}

.panelContents button.right {
    top: 45%;
    right: 0;
    rotate: 90deg;
}


.panelContents .imageGrid {
    position: absolute;
    /*top: CALC(50% - 200px);*/
    /*bottom: CALC(50% - 200px);*/
    /*left: CALC(50% - 200px);*/
    /*right: CALC(50% - 200px);*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 0;
}

.panelContents .imageGrid > img {
    display: inline-block;
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom:-2px;
    margin-top: -2px;

}
.panelContents .imageGrid > h1 {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 40%;
    bottom: 40%;
    background: #f1f5f9;
    border-radius: 10px;
    box-shadow: 4px 4px #4a5568;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}



.panelContents .artworkPreview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.panelContents .artworkPreview > * {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}


.panelContents .artworkDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.panelContents .imageRow {

}

.panelContents .imageRow > img {
    height: 200px;
    display: inline-block;
}
